.slick-prev {
	left: 25px;
	z-index: 2;

}

.slick-next {
	right: 25px;
	z-index: 2;

}

.navbar {
	margin: 0;
}

.background-panel  {
    color:black; 
    background-color:#3498db;
    height:1000px;
    width:100%;
    text-align:left; 
    border-radius:0%;
    margin-top:0px;
    z-index:5;
    position: relative;
} 

.one  {
    background-color:white;
    height:700px;
    width:500px;
    border-radius:0%;
    margin-top:0px;
    z-index:5;
    position: absolute;
    bottom: 90px; 
    right: 0px;  
    left: 90px;
} 

.one-blurb {
    position: absolute;
    text-align:left; 
   font-size: 1.125rem;
    font-style: normal; 
    font-family: sans-serif;
    top: 60%;
    left: 20%;
    right: 20%;
}

 .fade
{
        opacity:0.5;
} 
 .fade:hover
{
        opacity:1;
} 

.fade {
    display: inline-block;
  background-color: #16a085; 
  height: 260px;
  width: 33%;
    border-radius:0%;
    margin-top:0px;
    z-index:5;
    position: relative;     
}

.mini-background-panel {
    background-color:black;
    height:500px;
    width:100%;
    text-align:center; 
    border-radius:0%;
    margin-top:10px;
    z-index:5;
    position: relative;
} 

.small-panel-blurb1 {            /* used to be called ".container" */
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    top: 40%;
    left: 0;
    right: 0;
}

#content {
  color: white;
  text-align: center;
  padding-top: 20%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.4);
  }

  .footer-panel {
    background-color: green;
    height: 200px;
    width: 100%;
    bottom: 10px;
  }





/* keep everything as a percentage if i can */ 






















