  .slick-prev {
  	left: 25px;
  	z-index: 2;

  }

  .slick-next {
  	right: 25px;
  	z-index: 2;

  }

  .navbar {
  	margin: 0;
    background-color: black;
    font-family: Century Gothic;
  }

  .btn {                /* this button styling should be the only  */
    border-radius:0;    /* the only one on the page                */ 
    background-color: black;
    color: black;
  }

  .background-panel  {
      color:black; 
      background-color:#3498db;
      height:950px; /* 1,000 8*/
      width:1423px; /* 100% */
      text-align:left; 
      border-radius:0%;
      margin-top:0px;
      z-index:5;
      position: relative;
  } 

  .one  {
      background-color:white;
      height:66vw;
      width:456px;
      border-radius:0%;
      margin-top:0px;
      z-index:5;
      position: absolute;
      margin-top: 80px;
      bottom: 90px;
      right: 60px;  
      left: 95px;
  } 

  .one-blurb {
      position: absolute;
      text-align:left; 
     font-size: 1.125rem;
      font-style: normal; 
      font-family: sans-serif;
      top: 60%;
      left: 20%;
      right: 20%;
  }




  .fade {
    opacity:1.0;
        display: inline-block;
    background-color: #16a085; 
    height: 270px;
    width: 33%;
      border-radius:0%;
      margin-top:0px;
      margin-right: -4px;
      z-index:5;
      position: relative;    
  }

   .fade:hover{
          opacity:.3;                     /* we want to keep this opacity so 
          display: inline-block;             the image in .fade will be visible */
    background-color: #2ecc71; 
    height: 270px;
    width: 33%;
      border-radius:0%;
      margin-top:0px;
      margin-right: -4px;
      z-index:5;
      position: relative;  
  } 



  .mini-background-panel {
      background-color:black;
      height:500px;
      width:100%;
      text-align:center; 
      border-radius:0%;
      margin-top:0px;
      z-index:5;
      position: relative;
  } 

  .small-panel-blurb1 {            /* used to be called ".container" */
      font-family: sans-serif;
      font-size: 30px;
      font-style: normal;
      top: 50%;
      left: 0;
      right: 0;
  }

  #content {
    color: white;
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
           0px 8px 13px rgba(0,0,0,0.1),
           0px 18px 23px rgba(0,0,0,0.4);
    }

    .buttonText {
    font: 18px/1.5 Helvetica, Arial, sans-serif;
    color: #fff;
  }
   
  a {
    color: #fff;
    text-decoration: none;
  }

    .footer-panel {
      position: relative;
      background-color: black;
      color: white;
      padding-bottom: 30px;
      height: 200px;
      width: 100%;
      bottom: 10px;
    }

    .footer-panel > p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 1.125rem;
      font-style: normal; 
      font-family: sans-serif;
      text-align: center;
      vertical-align: bottom;
    }


  /* keep everything as a percentage if i can */ 






















